---
import { Image } from "astro:assets";
import Cobe from "@components/cobe.astro";
import Link from "@components/ui/link.astro";
import InputScreen from "./TmateInputScreen";

// Add new built-in i18n imports
import { getLangFromUrl, useTranslations } from "../i18n/utils";

// Get current language and create translation function
const safeUrl = Astro.url || new URL('/', Astro.site || 'http://localhost:4321');
const lang = getLangFromUrl(safeUrl);
const t = useTranslations(lang);

const { dynamic = false } = Astro.props;
---

<div class="relative isolate bg-gray-50">
<div class="sm:pt-10">
  <div class="mx-auto max-w-7xl py-12">
          <div class="mx-auto max-w-6xl text-center">
            <h1 class="text-2xl font-bold tracking-tight text-white dark:text-white sm:text-4xl">Tmate - TikTok Downloader</h1>
            <p class="mt-2 text-lg leading-8 text-white dark:text-white">Download Video TikTok without watermark - Free for All Devices</p>
                       
            <InputScreen client:only="solid-js" />
          </div>
  </div>
</div>


</div>
